
extends ../base.pug

block links
    link(rel='stylesheet' href='/css/polls/poll.min.css')
    script(src='/js/polls/poll.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js')

block content
    .container.d-flex.align-items-center
        .jumbotron-fluid.text-center
            h2.text-primary.display-4 #{poll.title}
            .chart-container
            hr.my-4

            if success_messages.length > 0
                .alert.alert-success #[strong Success!] #{success_messages}

            if error_messages.length > 0
                .alert.alert-danger #[strong Oops!] #{error_messages}

            .col-sm-12.col-md-12.col-lg-12
                .chart-container
                    canvas(id=poll.url)
            hr.my-4
            form(action='/polls/' + poll.url, method='POST')
                .form-group
                    .col-sm-12.col-lg-12
                        select#selection.form-control(type='text', placeholder='', name='selection')
                            each option in poll.options
                                option #{option.text}
                button.btn.btn-primary(type='submit') Cast Vote
